body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
  background-color: rgb(8, 0, 255);
  color: white;
  margin: 0;
  padding: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content-section {
  display: flex;
  justify-content: center;
  overflow: hidden;
  border: 20px solid #ffffff;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}

.wrapper {
  width: 100%;
  height: 300px; 
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  position: relative;
  width: 300px;
  height: 50%;
  margin: 20px;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.link {
  background-color: #099aaa;
  padding: 16px 32px;
  color: black;
  font-family: sans-serif;
  font-size: 19px;
}