*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 2px;
    background-color: burlywood;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

.cover{
    color: black;
    height: 300px;
    width: 600px;
    border: 2px solid black;
    padding: 25px;
    background: url(Bicol.jpg);
    background-repeat: no-repeat;
    background-size: 600px 300px;
}

p{
    margin: 1%;
    font-weight: 600;
}

h2{
    font-size: 18px;
    margin: 0;
}
