*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 2px;
}

h1{
    margin: 0;
    text-align: center;
    background-color: orangered;
    color: white;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

img{
    height: 400px; 
    width: auto;
}

p{
    margin: 1%;
    font-weight: 600;
}

h2{
    font-size: 18px;
    margin: 0;
}
