*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 2px;
    background-color: burlywood;
}


.cover{
    color: black;
    height: 300px;
    width: 600px;
    border: 2px solid black;
    padding: 25px;
    background: url(PorkNilaga.jpg);
    background-repeat: no-repeat;
    background-size: 600px 300px;
}

.container {
    display: flex;
}

.column {
    flex: 1;
    padding: 10px;
}

p{
    margin: 0;
}

h2{
    font-size: 18px;
    margin: 0;
}


/* direction */
.list-number {
    margin-bottom:10px;
  }
  .list-number span {
    display:inline-flex;
    align-items:center;
    justify-content:center;
    width:25px;
    height:25px;
    border-radius:50%;
    background-color:#000;
    color:#fff;
  }
